* {
    padding: 0;
    margin:  0;
    box-sizing: border-box;
}

.encabezado {
    overflow: hidden;
    margin-bottom: 20px;
    cursor: pointer;
}

nav{
    float: right;
    margin-top: 12px;
    }
 
 i{
     margin-right: 12px;
 }

 h1 {
    font-size: 30px;
    font-weight: bolder;
    float: left;
    margin-top: 10px;
 }

header {
     width: 800px;
     margin: auto;
}

h2 {
    font-size: 1.5em;
    margin-top: 30px;
}

section {
    margin-top: 6px;
    display: flex;
    margin-bottom: 30px;
    align-items: center;
}

p {
    font-size: medium;
    margin-right: 6px;
}

button {
     height: 5vh;
     width: 30vw;
     border: none;
     background: black;
     color:white;
     font-size: calc(4px, 1vw);
     margin: auto;
}

.grid{
    display: grid;
    justify-content: center;
    grid-template-columns:repeat(3,180px);
    grid-template-rows: repeat(6,180px);
    grid-column-gap: 15px;
    grid-row-gap: 12px;
    margin-top: 30px;
}

.grid div{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 30px;
    background: rgba(128, 128, 128, 0.164);
}
.grande{
    max-width: 100%;
}
.pequeño{
    max-width: 100%;
}
.primero{
    grid-column: 1/3;
    grid-row: 1/3;
}
.segundo{
    grid-column: 3/4;
    grid-row: 1/2;
}
.tercero{
    grid-column: 3/4;
    grid-row: 2/3;
}
.quinto{
    grid-column: 2/4;
    grid-row: 3/5;
}
.cuarto{
    grid-column: 1/2;
    grid-row: 3/4;
}
.sexto{
    grid-column: 1/2;
    grid-row: 4/5;
}
.septimo{
    grid-column: 1/3;
    grid-row: 5/7;
}
.octavo{
    grid-column: 3/4;
    grid-row: 5/6;
}
.noveno{
    grid-column: 3/4;
    grid-row: 6/7;
}